/*

Author:     al-lu

Contents: 1. Global
          2. Typography
          3. Links
          4. Header Banner
          5. Navigation
          6. Blog Text
          7. Back BTN
          8. Footnotes



*/


/*******************************   Global   *******************************/

* 
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html 
{
  background: #fff;
  color: #505050;
  font: normal 300 100%/1.5  Helvetica, Arial, sans-serif; 
}

.wrapper-wraps 
{
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px; 
}


/*******************************   Typography   *******************************/

h1, h2, h3, h4, h5, h6 
{
  font-weight: 650; 
}

h1 
{
  font-weight: 300; 
}

h2
{
  margin-bottom: 0.5em;
  font-size: 1.35em; 
}

h3 
{
  margin-bottom: 0.5em;
  font-size: 1.2em; 
}

p 
{
  margin-bottom: 1.3em;
  font-size: 1.1em;
  font-family: chaparral-pro, Georgia, serif;
  font-weight: 400; 
}

em 
{
  font-style: italic; 
}

strong 
{
  font-weight: 600; 
}

ul, ol, dl 
{
  margin-bottom: 1.3em; 
}

ul li, ol li 
{
  margin-bottom: 0.5em; 
}


/*******************************   Links   *******************************/

a 
{
  color: #cfcfcb;;
  text-decoration: none;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease; 
}

a:hover 
{
  opacity: 0.8; 
}

a:active 
{
  position: relative;
  top: 1px; 
}

a.button 
{
  line-height: 36px;
  height: 36px;
  padding: 10px 36px;
  background: #dfdfdf;
  border: 1px solid #b3b3b3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #4e4e4e; 
}

a.button:hover 
{
  background: #cfcfcf;
  opacity: 1; 
}


/*******************************   Header Banner   *******************************/

#header-top 
{
  overflow: hidden;
  margin-bottom: -17px;
  padding-top: 20px; 
}

#header-top .logo 
{
  display: inline-block;
  margin-top: -20px;
  margin-left: 10px;
  padding-bottom: 15px;
  justify-content: center; 
}

#header-top .logo a:hover 
{
  color: #cfcfcb;
  opacity: 1; 
}

#header-top .nav 
{
  float: right;
  margin-top: 0px; 
}

@media only screen and (max-width: 400px) 
{
  #header-top 
  {
    margin-bottom: 0; 
  }

  #header-top .logo 
  {
    float: none;
    margin: 0 auto;
    width: 175px; 
  }

  #header-top .nav 
  {
    float: none; 
  }

}


/*******************************   Nav   *******************************/

.nav ul 
{
  margin-bottom: 0; 
}

.nav ul li 
{
  display: inline-block;
  margin-bottom: 0;
  padding: 0 5px; 
}

.nav ul li a 
{
  color: #505050;
  text-transform: lowercase; 
}

.nav ul li a:hover 
{
  color: #cfcfcb;
  opacity: 1; 
}


.banner-intro 
{
  padding: 20px;
  background: #f4f4f4;
  text-align: center; 
  
}

.banner-intro h1 
{
  font-size: 2.25em;
  line-height: 1.2;
  font-weight: 300; 
  font-family: Arial, Helvetica, sans-serif;
}

.banner-intro p 
{
  margin-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em; 
}

.layout 
{
  margin-bottom: 60px;
  margin-top: 60px;
  overflow: hidden; 
}

.layout .main-col 
{
  float: left;
  width: 100%; 
  text-align: center;
}

@media only screen and (max-width: 650px) 
{
  .layout .main-col 
  {
    float: none;
    width: 100%; 
  }
  .layout .sidebar 
  {
    float: none;
    width: 100%; 
  } 
}


/*******************************   Blog Text   *******************************/

.blog-entry 
{
  margin-bottom: 90px; 
}

.blog-entry header 
{
  margin-bottom: 1.3em; 
}

.blog-entry header h1 
{
  font-size: 1.7em;
  font-weight: 600;
}

.blog-entry header h1 a 
{
  color: #505050;
  line-height: 1; 
}

.blog-entry header h1 a:hover 
{
  color: #cfcfcb;
  opacity: 1; 
}

.blog-entry header time 
{
  color: #a8a8a8; 
}

.blog-entry header .author,
.blog-entry header.banner-intro .author 
{
  margin: 0;
  font-size: 1em;
  color: #a8a8a8; 
}

.blog-entry img 
{
  max-width: 100%; 
}

.blog-entry li 
{
  margin-left: 1.1em;
  font-family: chaparral-pro, Georgia, serif;
  font-size: 1em; 
}

.entry-content
{
  max-width: 55%;
  margin: auto;
  background: #f4f4f4;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 5px solid #252324;
  border-radius: 25px;
  
}


/*******************************   Back BTN   *******************************/

.back
{
  padding-top: 60px;
  overflow: hidden; 
  align-items: center;
  display: inline-block;
}

.back a 
{
  display: block;
  text-align: center;
  padding: 0;
  width: 140px; 
}


/*******************************   Footnotes   *******************************/

.footnotes 
{
  border-top: 1px solid #a8a8a8;
  padding-top: 1.3em; 
}

