/*

Author:     al-lu

Contents: 1. Global
          2. Navigation
          3. Hero text
          4. Work
          5. Github
          6. Footer
          7. Responsive
*/

/***************************************************************************************/
/*----------------------- 1.  Global Styles  --------------------------------------------*/
/***************************************************************************************/

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}


/***************************************************************************************/
/*----------------------- 2.  Nav Styles  --------------------------------------------*/
/***************************************************************************************/

nav ul {
  top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #f4f4f4; /* WhiteSmoke */
  z-index: 10000;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: #252324; /* Glossy Black */
  text-decoration: none;
}

nav ul li a:hover {
  color: #cfcfcb;
}

.line {
  font-weight: 700;
}


/***************************************************************************************/
/*----------------------- 3.  Hero Styles  --------------------------------------------*/
/***************************************************************************************/


.logo img{
  margin-top: 2px;
  justify-content: center;
  max-width: 30%;
  transition: 3s;
}

.logo img:hover {
  filter: invert(4%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.intro {
  margin-top: -50px; 
  top: 0;
  background: #fcfcfa; /* White */
  min-height: 55vh; 
  padding-top: 45vh; 
  padding-bottom: 15vh;
  letter-spacing: 20px;
  text-align: center;
}

.intro p {
  color: #252324;;
  letter-spacing: 30px;
  padding-top: 50px;
  text-align: center;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text::before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  padding-left: 1.7em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}

hr.zig, hr.zag {
  border: none;
  height: 30px;
  margin: 0 50px;
  margin-left: auto;
  margin-right: auto;
  width: 10em
}

hr.zig{
  background: linear-gradient(-135deg, #fcfcfa 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, #fcfcfa 20px, rgba(0, 0, 0, 0) 0) 0 5px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  z-index: 100;
  position: relative;
}

hr.zag {
  background: linear-gradient(-135deg, #333 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, #333 20px, #fcfcfa 0) 0 5px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  z-index: 50;
  margin-top: -28px;
}

/***************************************************************************************/
/*----------------------- 4.  Work Styles  --------------------------------------------*/
/***************************************************************************************/

.work-intro-area {
    position: relative;
    padding: 100px 8px;
    text-align: center;
}

.sub-heading {
    position: relative;
    margin-bottom: 75px;
    
}

.sub-heading:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: #22313f;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.sub-heading:hover:before {
    width: 24%;
    margin-left: -12%;
}

.sub-heading:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p {
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.work-intro-block {
    position: relative;
    background-color: #f7f7f7;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 70px 25px 40px;
    border-radius: 50%;
    min-height: 320px;
    cursor: pointer;
}

.work-intro-block h3 {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 55px;
    opacity: 0;
    z-index: 1000;  
    
}

.work-intro-block p {
    color: #ffffff;
    font-size: 22px;
    opacity: 0;
    z-index: 1000;

}

.work-intro-block:hover h3, .work-intro-block:hover p {
    color: #ffffff;
    opacity: 1;
    z-index: 1001;
}
    
.work-one {
  background-image: url("../img/detection-thumb.png");
  background-size: 165%;
}

.work-one:hover {
  background-image:linear-gradient(rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.4)), url("../img/detection-thumb.png");
}

.work-two {
  background-image: url("../img/formula-db-thumb.png");
  background-size: 165%;
}

.work-two:hover {
  background-image:linear-gradient(rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.4)), url("../img/formula-db-thumb.png");
}

.work-three {
  background-image: url("../img/ffmpeg-thumb.png");
  background-size: 165%;
}

.work-three:hover {
  background-image:linear-gradient(rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.4)), url("../img/ffmpeg-thumb.png");
}

.work-four {
  background-image: url("../img/selenium-thumb.PNG");
  background-size: 165%;
}

.work-four:hover {
  background-image:linear-gradient(rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.4)), url("../img/selenium-thumb.PNG");
}

.work-five {
  background-image: url("../img/pygame-thumb.PNG");
  background-size: 165%;
}

.work-five:hover {
  background-image:linear-gradient(rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.4)), url("../img/pygame-thumb.PNG");
}

.work-six {
  background-image: url("../img/unity-thumb.PNG");
  background-size: 165%;
}

.work-six:hover {
  background-image:linear-gradient(rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.4)), url("../img/unity-thumb.PNG");
}

.work-intro-block p:hover{
  z-index: 1001;
  opacity: 1;
}

/***************************************************************************************/
/*----------------------- 5.  Github Styles  --------------------------------------------*/
/***************************************************************************************/

.github {
  background: #fcfcfa;
  padding-bottom: 50px;
}

.quso {
  padding: 10px 0px 110px;
}

.quso h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.binary {
  padding-top: 15px;
  font-weight: 200;
  padding-bottom: 15px;
  text-align: center;
  width:100%; 
}

.binary{
  overflow: hidden; 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .10em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

.tip {
  visibility: visible;
  padding-top: 15px;
  padding-bottom: 25px;
  opacity: 0;
  transition: 5s;
 
}

.tip:hover{
  visibility: visible;
  opacity: 1;
}


.github-details {
  display: inline-block;
  font-weight: bold;
  margin: 30px 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #cfcfcb;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #252324;
  text-decoration: none;
  background-image: url("../img/GitHub-Mark-Light-64px.png");
  background-size: cover;
}

/* Saved these setting if I want to later change the transparensy of this element */

.github-details img {
  height: 102%;
  /* z-index: 1000;
  opacity: 0; */
}

/* .github-details img:hover {
  z-index: 1001;
  opacity: 1;
} */

/***************************************************************************************/
/*----------------------- 6.  Footer Styles  --------------------------------------------*/
/***************************************************************************************/

footer {
  padding: 20px;
  background: #22313F;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

/***************************************************************************************/
/*----------------------- 7.  Responsive Styles  --------------------------------------*/
/***************************************************************************************/

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

/* @media only screen and (max-width: 367px) {
  .github-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
} */


